# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Django
db.sqlite3
*.log
media/
staticfiles/
public/static/

# Virtual environment
env/
venv/
ENV/
env.bak/
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Pip
pip-log.txt
pip-delete-this-directory.txt